body {
  font-family: "Cormorant Garamond", serif;
  background-color: #f7f7f7;
}

.common {
  padding-left: 2%;
  padding-right: 2%;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.container .side {
  position: fixed;
  padding-top: 2%;
  width: 20%;
  height: 100vh;
  border-right: 1px solid black;
}
@media (max-width: 900px) {
  .container .side {
    display: none;
  }
}

.container .inner {
  position: absolute;
  /* overflow: auto; */
  overflow-y: scroll;
  right: 0;
  width: 80%;
  height: 100vh;
}
@media (max-width: 900px) {
  .container .inner {
    width: 100%;
  }
}
.view {
  width: 100%;
  vertical-align: bottom;
}

.view img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  vertical-align: bottom;
}
/* サイドバーcss */
.contain {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contain .mylogo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.contain .mylogo img {
  width: 100%;
  height: 100%;
}

.sidelink {
  background-color: #f7f7f7;
  text-align: center;
  margin-bottom: 25px;
}
.sidelink ul {
  border-bottom: 0.5px solid #000;
}

.sidelink ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  border-top: 0.5px solid black;
  position: relative;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  /* box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
  10px 10px 20px 0px rgba(0, 0, 0, 0.3); */
}
.sidelink ul li:hover {
  box-shadow: inset -5px -5px 20px 0px rgba(255, 255, 255, 0.5),
    inset 5px 5px 20px 0px rgba(0, 0, 0, 0.3);
}
.sidelink ul li ::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sidelink ul li a {
  text-decoration: none;
  color: black;
  padding: 5% 33% 5% 33%;
}

.sns {
  padding: 10px;
  display: flex;
  justify-content:space-around;
}
.sns .instagram {
  max-width: 25px;
  max-height: 25px;
}
.sns .instagram img {
  width: 100%;
  height: 100%;
}

.sns .x {
  max-width: 25px;
  max-height: 25px;
}

.sns .x img {
  width: 100%;
  height: 100%;
}

/* workページのCSS */

h2 {
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  text-align: center;
  margin-bottom: 100px;
  font-size: 2.5em;
  background-color: #f7f7f7;
}

.works {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  flex-wrap: wrap;
  gap: 50px;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
}

@media (max-width: 1237px) {
  .works {
    justify-content: center;
    max-width: 100%;
  }
}

.works .block {
  max-width: 450px;
  max-height: 450px;
  margin-bottom: 50px;
}
@media (max-width: 1237px) {
  .works .block {
    max-width: 100%;
  }
}
.works .block img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.works .block .detail {
  border: 1px solid black;
  text-align: left;
  background-color: white;
}
.works .block .detail p {
  display: inline;
  font-family: "Zen Old Mincho", serif;
}

.works .block .detail span {
  display: block;
}
.btn {
  width: 300px;
  height: 40px;
  border: 0.5px solid black;
  background-color: #f7f7f7;
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px 15px 20px -6px rgba(0, 0, 0, 1); */
}

.btn:hover {
  box-shadow: inset -5px -5px 20px 0px rgba(255, 255, 255, 0.5),
    inset 5px 5px 20px 0px rgba(0, 0, 0, 0.3);
}

.btn button {
  width: 100%;
  height: 100%;
}

.btn button a {
  text-decoration: none;
  color: black;
}

/* aboutページのcss */
.about_content {
  text-align:center;
  position: relative;
  margin: 4%;
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 100px;
}

@media (max-width: 620px) {
  .about_content {
    flex-direction: column;
  }
}

.about_content .about_image {
  position: relative;
  width: 50%;
  height: 450px;
  margin-right: 20px;
}
.about_content .about-image::after {
  content: "";
  top: 3%;
  left: 3%;
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 450px;
  background-color: #f6cf59;
}
@media (max-width: 620px) {
  .about_content .about_image {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
  }
}
.about_content .about_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_content .about_text {
  width: 40%;
  margin-top: 50px;
}

.about_content .about_text {
  width: 45%;
  margin: auto;
}
@media (max-width: 620px) {
  .about_content .about_text {
    width: 100%;
  }
}
.about_content .about_text .name {
  font-size: 2em;
}
.about_content .about_text span {
  font-size: 0.4em;
  margin-left: 5%;
}
.about_content .about_text .long {
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about_content .about_text .about_button {
  width: 250px;
  height: 30px;
  margin: auto;
  align-items: center;
  border:  0.5px solid  black;
  background-color: #f7f7f7;
}
.about_content .about_text .about_button a {
  text-decoration: none;
  color: #000;
}
.about_content .about_text .about_button:hover {
  box-shadow: inset -5px -5px 20px 0px rgba(255, 255, 255, 0.5),
    inset 5px 5px 20px 0px rgba(0, 0, 0, 0.3);
}
@media (max-width: 620px) {
  .about_content .about_text .about_button {
    width: 96%;
    bottom: -50px;
    right: 50%;
    transform: translateX(50%);
  }
}

/* お問い合わせcss */

.contact {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 100px;
}
.contact label {
  margin-bottom: 10px;
}
.contact input {
  padding: 1%;
  border: 0.5px solid black;
  margin-bottom: 10px;
  background-color: white;
}

.contact textarea {
  padding: 1%;
  border: 0.5px solid black;
  margin-bottom: 50px;
  background-color: white;
}

/* フッター部分 */
.footer {
  padding: 0.5%;
  border-top: 0.5px solid black;
  background-color: #f7f7f7;
  text-align: center;
}
.Biography {
  margin-bottom: 0px;
}

/* BiogpraphyのCSS */
.table {
  height: 300px;
  overflow-y: scroll;
}
.table .year {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 620px) {
  .table .year {
    flex-direction: column;
  }
}
.table .year .mm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 150px;
  font-size: 1.8em;
  border-right: 1px;
  position: relative;
}
.table .year .mm::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  top: 100%;
  background-color: #000;
}
@media (max-width: 620px) {
  .table .year .mm {
    width: 100%;
  }
}
.table .year .yy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 150px;
  padding-left: 15%;
  padding-right: 15%;
}
@media (max-width: 620px) {
  .table .year .yy {
    width: 100%;
  }
}

.skills {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 50px;
}
@media (max-width: 620px) {
  .skills {
    flex-direction: column;
  }
}
.skills .design {
  width: 47%;
}
@media (max-width: 620px) {
  .skills .design {
    width: 100%;
    margin-bottom: 50px;
  }
}
.skills .design h3 {
  text-align: center;
  margin-bottom: 50px;
}
.skills .design .text {
  margin-bottom: 50px;
}
.skills .design .tool {
  display: flex;
  align-items: center;
  text-align: center;
  display: inline-block;
  max-width: 100px;
  border: 0.5px solid black;
  margin-right: 10px;
}

.skills .coding {
  width: 47%;
}
@media (max-width: 620px) {
  .skills .coding {
    width: 100%;
  }
}
.skills .coding h3 {
  text-align: center;
  margin-bottom: 50px;
}
.skills .coding .text {
  margin-bottom: 50px;
}
.skills .coding .tool {
  display: flex;
  text-align: center;
  align-items: center;
  display: inline-block;
  max-width: 100px;
  border: 1px solid black;
  margin-right: 10px;
}

/* strengthsのcss */

.strengths {
  display: flex;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
}
@media (max-width: 620px) {
  .strengths {
    flex-direction: column;
  }
}
.strengths p {
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
  font-family: "Zen Old Mincho", serif;
}
@media (max-width: 620px) {
  .strengths p {
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    margin-bottom: 50px;
  }
}
h4 {
  position: relative;
  font-size: 2em;
  margin-bottom: 100px;
}
.one h4:before {
  content: "1";
  position: absolute;
  z-index: -10;
  color: #f6cf59;
  font-size: 2.5em;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}
.two h4:before {
  content: "2";
  position: absolute;
  z-index: -10;
  color: #f6cf59;
  font-size: 2.5em;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}
.three h4:before {
  content: "3";
  position: absolute;
  z-index: -10;
  color: #f6cf59;
  font-size: 2.5em;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}
.strengths .one {
  width: calc(1000px / 3);
}
@media (max-width: 620px) {
  .strengths .one {
    width: 100%;
  }
}
.strengths .two {
  width: calc(1000px / 3);
  margin-bottom: 50px;
}
@media (max-width: 620px) {
  .strengths .two {
    width: 100%;
    margin-bottom: 50px;
  }
}
.strengths .three {
  width: calc(1000px / 3);
}
@media (max-width: 620px) {
  .strengths .three {
    width: 100%;
    margin-bottom: 50px;
  }
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  height: 50px;
  /* box-shadow: 0px 15px 20px -6px rgba(0, 0, 0, 1);  */
  border: 0.5px solid black;
  background-color: #f7f7f7;
}
.submit:hover {
  box-shadow: inset -5px -5px 20px 0px rgba(255, 255, 255, 0.5),
    inset 5px 5px 20px 0px rgba(0, 0, 0, 0.3);
} 
